*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Form-body {
  margin: 20px;
}

.MuiStack-root {
  width: 500px;
}

/* feel free to mess around with the CSS and see how it affects the component! */
